html{
    height:100%;
}
body{
    height:100%;
}
header{
    height:10%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}
.header__title{
    height:19px;
    width:90px;
    padding-left:5%;
}
.header__links{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size:18px;
    line-height: 23px;
    color:black;
    width:15%;
    padding-right:5%;
}
.header__links a{
    color:black;
    text-decoration: none;
}
.introduction{
    width:100%;
    position:absolute;
    top:10%;
    left:0%;
    height:60%;
    display:flex;
    flex-direction: row;
}
.introduction__text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:45%;
    padding:5%;
}
.introduction__text p:nth-of-type(1){
    font-weight:700;
    color:#4A4FF2;
    font-size:22px;
    line-height:28px;

}
.introduction__text p:nth-of-type(2){
    font-weight:700;
    color:black;
    font-size:40px;
    line-height:60px;
}
.introduction__text_color{
    color:#4A4FF2;
}
.introduction__detail{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width:30%;
    padding-left:10%;
    font-size:18px;
    font-style:italic;
    line-height:23px;
}
.introduction__detail hr{
    width:30px;
    position:absolute;
    left:65%;
    bottom:15%;
}
.photos_grid{
    height:400%;
    width:85%;
    align-content:flex-start; 
    position:absolute;
    left:4%;
    top:85%;
    column-count:3;
    gap:6%;
}
.photos_grid *{
    margin:5%;
}
.one{
    height:413px;
    width:357px;
}
.five{
    height:351px;
    width:356px;
}
.nine{
    height:599px;
    width:350px;
}
.two{
    height:475px;
    width:357px;
    
}
.six{
    height:413px;
    width:350px;
}
.ten{
    height:413px;
    width:357px;
}
.three{
    height:475px;
    width:357px;
}
.seven{
    height:537px;
    width:356px;
}
.eleven{
    height:537px;
    width:357px;
}
.four{
    height:537px;
    width:357px;
}
.eight{
    height:599px;
    width:356px;
}
.twelve{
    height:350px;
    width:351px;
}
.text_grid{
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    position:absolute;
    top:450%;
    grid-gap:50px 50px;
    width:90%;
    left:5%;
    justify-items: start;
    align-items: start;
}
.long{
    font-size:28px;
    line-height:38px;
    font-weight:700;
    grid-column-start: 1;
    grid-column-end: 3;
    width:80%;
}
.smallest{
    font-size:18px;
    line-height:23px;
    font-weight:400;

}
.bolder{
    font-weight:700;
}
.first_bold{
    grid-row-start:2;
    grid-row-end:4;
}
.year1{
    justify-self:end ;
}
.second_bold{
    grid-row-start: 4;
    grid-row-end: 6;
}
.verysmall{
    font-size:16px;
    line-height:26px;
    font-weight:400;
}
.logos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2%;
}
footer{
    position: absolute;
    top:600%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.footer__inside{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:33%;
    padding-right:5%;

}
.logos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:40%;
}