html{
    height:100%;
}
body{
    height:600%;
    width:100%;
    overflow-x: hidden;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.header__first{
    width:90%;
    height:15%;
    position: absolute;
    top:0%;
    left:0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-left: 5%;
}
.header__first img{
    width:20%;
    height:50%;
}
.header__second{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:50%;
}
.header__links {
    color:#2F281E;
    text-decoration:none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:80%;
    font-weight:bold;
}
.header__links a{
    color:#2F281E;
    text-decoration:none;
    font-weight: bold;
}
.header__buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
    font-size:1.1em;
    width:40%;

}
.header__buttons button:nth-of-type(1){
    width:100%;
    height:50%;
    padding:5%;
    background-color: transparent;
    color:black;
    border-radius: 5%;
    border:1px solid grey;
    margin:5%;
    font-size:0.9em;
}
.header__buttons button:nth-of-type(2){
    width:100%;
    height:50%;
    padding:5%;
    background-color: #FF9900;
    color:white;
    border-radius: 5%;
    border:1px solid grey;
    font-size:0.9em;
}
.main__first{
    height:100%;
    width:90%;
    position: absolute;
    top:15%;
    left:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
}

.main__first img{
    width:60%;
    height:90%;
}
.text_big{
    color:#2F281E;
    font-weight: bold;
    font-size:54px;
}
.text_small{
    color:#544837;
    font-size:28px;
    margin-top:3%;
    padding-right:8%;
}
.main__buttons{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    margin-top:5%;
}
.main__buttons button:nth-of-type(1){
    height:53px;
    width:175px;
    background-color:#FF9900;
    font-weight: bold;
    color:white;
    border-radius: 5%;
    margin-right:5%;
}
.main__buttons button:nth-of-type(2){
    height:53px;
    width:175px;
    background-color:transparent;
    font-weight: bold;
    color:#FF9900;
    border-radius: 5%;
    border:none;
}
.main__buttons a{
    color:#FF9900;
}
.main__second{
    position: absolute;
    top:100%;
    left:5%;
    width:90%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__second p:nth-child(1){
    color:#2F281E;
    font-size:36px;
    font-weight: bold;
    width:35%;
    text-align: center;
}
.main__second--button{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:5%;
}
.main__second--classbutton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:20%;
    height:50%;;
}
.main__second--classbutton p:nth-of-type(1){
    color:#2F281E;
    font-size:22px;
    font-weight: bold;
}
.main__second--classbutton p:nth-of-type(2){
    color:#544837;
    font-size:16px;
    font-weight: normal;
}
.main__second--classbutton button{
    width:50px;
    height:50px;
    border-radius: 10%;
    border:none;
}
.button--purple{
    background-color: #7752BE;
}
.button--orange{
    background-color: #FAB005;
}
.button--red{
    background-color: #F03E3D;
}
.button--blue{
    background-color: rgb(0, 195, 255);
}
.main__second--ending{
    width:175px;
    height:53px;
    color:white;
    background-color: #FF9900;
    border:none;
    border-radius: 5%;
    font-weight: bold;
    font-size:16px;
}
.main__third{
    position: absolute;
    top:220%;
    left:5%;
    width:90%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__third img{
    width:60%;
    height:90%;
}
.main__third--text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:40%;
    margin:5%;
}
.main__third--normaltext{
    color:#544837;
    font-size:16px;
}
.main__third--titletext{
    color:#2F281E;
    font-size:36px;
    font-weight: bold;
}
.main__third--subtitletext{
    color:#2F281E;
    font-size:16px;
    font-weight: bold;
}
.main__fourth{
    position: absolute;
    top:340%;
    left:5%;
    width:90%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__fourth--text{
    margin-left:10%;
}
.main__forth--listelem{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__forth--listelem button{
    width:35px;
    height:35px;
    background-color: #FF9900;
    border-radius: 30%;
    border:none;
    color:white;
    margin:5%;
}
.main__fifth{
    position: absolute;
    top:460%;
    left:5%;
    width:90%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__fifth img{
    width:520px;
    height:574px;
}
.main__ending{
    position: absolute;
    top:570%;
    left:5%;
    width:90%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top:2px solid rgba(175, 172, 172, 0.774);
}
.main__ending img{
    margin-left:5%;
}
.main__ending--list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.main__ending--list a{
    color:#544837;
    font-size:16px;
    padding-bottom:20%;
    text-decoration: none;
}
.main__ending--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width:30%;
    margin-top:5%;
}
.main__ending--form input{
    width:325px;
    height:42px;
    margin-bottom: 5%;
    outline: none;

}
@media only screen and (max-width: 600px) {
    .main__text {
      width:100%;
    }
    .main__first img{
        display:none;
    }
    .header__second{
        flex-direction: column;
        width:70%;
    }
    .header__first img{
        width:30%;
        height:30%;
    }
    .main__second p:nth-child(1){
        width:90%;
    }
    .main__second--button{
        flex-direction: column;
    }
    .main__second--classbutton{
        width:70%;
        height:20%;
    }
    .main__third img{
        width:50%;
        height:50%;
    
    }
    .main__fourth img{
        width:50%;
        height:50%;
    }
    .main__fifth img{
        width:50%;
        height:50%;
    }
    .main__ending{
        flex-direction: column;
    }
    .main__ending img{
        margin-top:10%;
    }
    .main__ending--container{
        width:70%;
    }
    .main__ending--form{
        width:70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
